<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>

    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <div class="box" id="heading">
        <h1>
            <%= titleList %>
        </h1>
    </div>

    <div class="box">
        <% for(i=0; i<items.length; i++) { %>
        <div class="item">
            <input type="checkbox">
                <p><%= items[i] %></p>
            </div>
        <% } %>

        <form action="<%= actionValue %>" method="post" class="">
            <input type="text" name="newItem" required placeholder="New Item" autocomplete="off">
            <button type="submit" name="action" value="submit" class="submit">+</button>
        </form>
        <form action="<%= actionValue %>" method="post">
            <button type="submit" name="action" value="reset" class="reset">Reset</button>
        </form>

    </div>


</body>

</html>